h1 {color: Brown;}
h1 { font-size: 300%;
     font-weight: bold;
     color: brown }


body
{font-family: 'Encode Sans Condensed', sans-serif;
 background: forestgreen;
       color: black;
       font-size: 14pt;}



