h1 {color: Blue;}
h1 { font-size: 300%;
     font-weight: bold;
     color: navy }


h2 { border-left: 10px solid orange }
h2 {color: Blue;}
h2 { font-size: 190%;
	font-style: italic }


body
{font-family: 'Encode Sans Condensed', sans-serif;
 background: lightblue;
       color: darkgray;
       font-size: 14pt;}

li { display: inline-block }
li {border: 2px solid black }  
li { padding: 10px;
	    margin: 20px;
	    background: white }

table, th, td { border: 1px solid black; border-collapse: collapse }
